body{
    font-family:sans-serif;
}

h1, h2, h3{
    text-align: center;
}

h1{
    text-transform: uppercase;
}

p{
    font-weight:lighter;
    font-size: 18px;
    line-height: 25px;
}

.contenido{
    width: 80%;
    margin: 0 auto;
}

#imagen-carrusel{
    background-image: url(../img/imagen1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}

.btn-accion{
    text-transform: uppercase;
    color: white;
    border: none;
    font-size: 15px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    padding: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
}